.header__line{
    border-color: #545454;
    border-width: 0 0 1px;
    opacity: 70%;
    margin: 41px 0 0;
}

@media screen and (max-width: 1190px){
    .header__line{
        margin: 32px 0 0;
    }
}