.cards__like{
    min-width: 24px;
    background-image: url(../../../src/images/like.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #FFFFFF;
    background-position: center;
    padding: 0;
}

.cards__like:hover{
    opacity: 0.5;
    cursor: pointer;
}